:root {
  --bg-color: rgba(211, 203, 190, 1);
  --fg-color: #7d929e;
  --hv-color: #ffebb6;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: "aseprite";
  display: flex;
  flex-direction: column;
  image-rendering: pixelated;
}

.header ul{
  display: flex;
  list-style: none;
  gap: 10px;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.header ul li {
  padding: 10px;
}
.header ul li:hover {
  background-color: var(--hv-color);
}

.tabs {
  max-width: 100vw;
  padding: 0 20px;
  display: flex;
  margin-bottom: -4px;
  align-items: flex-end;
  font-size: 0.8rem;
}

.tab {
  border: 6px solid;
  width: 100px;
  padding: 3px 10px;
  color: white;

  border-image-source: url('./images/tab-border.png');
  border-image-slice: 3 fill;
  border-image-repeat: stretch;
  position: relative;

  display: flex;
  justify-content: space-between;
}

.tab-icon img, .close-icon img {
  width: 16px;
}

/* before and after approach for borders */

/* .tab::after,
.tab::before {
  background-color: #d3cbbe;
  content: "";
  display: inline;
  height: 2px;
  position: absolute;
  width: 2px;
  top: -2px;
}


.tab:after {
  right: -2px;
}

.tab:before {
  left: -2px;
} */

/* .home {
  display: flex;
  align-items: flex-end;
} */
/* 
.home::after,
.home::before {
  background-color: #adcade;
  content: "";
  display: block;
  height: 2px;
  width: 2px;
  z-index: 2;
}

.home::before {
  margin-right: -2px;
}

.home::after {
  margin-left: -2px;
} */

.main {
  image-rendering: pixelated;
  overflow:hidden;
  background-color: var(--fg-color);
  flex-grow: 1;
  box-shadow: inset 0 2px #adcade;
  border-top: 2px black solid;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
}

.main .left {
  padding: 0 50px;
  position: absolute;
  left: 0;
  background: inherit;
}

.main .left img {
  height: 100px;
}

.main .left ul {
  list-style: none;
  padding: 0;
  color: #655561;
}

.main .left ul li {
  margin: 10px 0;
}

.left ul li:hover {
  color: var(--hv-color);
  cursor: pointer;
}

.main .right {
  flex-shrink: 0;
  width: 80em;
}

.splash-img {
  width: 100%;
}

dialog {
  top: 0;
  bottom: 0;
  background-color: var(--bg-color);
}

#size div input {
  border: 2px solid white;
  box-shadow: inset 0 6px #00000021,
            inset 0 0 0 2px black;
  padding: 5px;
}
  

#canvas {
  outline: 1px solid black;
  image-rendering: pixelated;
}

.canvas-parent {
  align-items: center;
  justify-content: center;
}